.title {
    width: 40%;
    margin: 0%;
    font-family: Kaushan Script;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 55px;
    color:  black; 
}

.text{
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: black; 
}