html,
#root,
body {
  height: 100%;
  margin: 0px;
}

body {
  font-family: Helvetica, Arial;
}
a{
  color: white;
  text-decoration: none;
}
a:hover{
  color: linear-gradient(90deg, rgba(54,209,220,1) 0%, rgba(94,131,229,1) 100%); 
  text-decoration: none;
}
.app {
  min-height: 100%;
  flex-direction: column;
  display: flex;
  min-width: 900px;
}

.app-body {
  display: flex;
  flex: 1;
}

.content {
  position: relative;
  flex: 1;
}

.circular {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
